.imgcard{
    width: 200px;
    height: 150px;
    border-radius: 10px;
}


.divitem{
    border: 1px solid white; border-radius: 10px;
    position: relative;
}
.price{
    color: tomato;
    font-weight: bold;

}
.btn_ondiv{
    border-radius: 30px;
    border: none;
    background-color: tomato;
    width: 120px;
    height: 20px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
}

.btn_ondiv:hover{
    background-color: white;
    color: tomato;
    transition: 500ms;
    border: 1px solid tomato;
}
.btn_ondiv:active{
    background-color: black;
}

.cardorder{
    margin: 10px;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}